.auth {
    width: 349px;
    margin: 182px auto 0;
  }
  
  .auth h2 {
    text-align: center;
  }
  
  .form__card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 24px;
    margin-bottom: 48px;
  }
  
  .form__group {
    position: relative;
  }
  
  .form__group:not(:last-child) {
    margin-bottom: 24px;
  }
  
  .form__control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 17px 15px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 4px 4px 0px 0px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }
  
  .form__control::placeholder {
    color: #000;
  }
  
  .form__control:focus {
    outline: 0;
  }
  
  .form__label {
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    top: 7px;
    left: 15px;
  }
  
  .form__control.error ~ .form__label {
    color: #FF5252;
  }
  
  .form__control.error {
    border-bottom: 2px solid #FF5252;
  }
  
  .form__control.success ~ .form__label {
    color: #1976D2;
  }
  
  .form__control.success {
    border-bottom: 2px solid #1976D2;
  }
  
  .form__control.loading {
    color: rgba(0, 0, 0, 0.38);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.38);
  }
  
  .form__control.loading ~ .form__label {
    display: none;
  }
  
  .btn {
    margin: 0 auto;
    width: 84px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #1976D2;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .btn:hover {
    background: #084989;
  }

  
@media (max-width: 767px) {
    .auth {
        width: 360px;
    }
}

@media (max-width: 375px) {
    body {
        padding: 0 15px;
    }

    .auth {
        width: 100%;
    }
}